@model IEnumerable<QuanLyTTNgoaiNgu.Models.PHIEUDANGKY>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayDangKy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LOPHOC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HOCVIEN)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayDangKy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LOPHOC.TenLop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HOCVIEN.DiaChi)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaDangKy">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaDangKy">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaDangKy">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
