@model QuanLyTTNgoaiNgu.Models.KETQUAHOCTAP

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>KETQUAHOCTAP</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Diem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Diem)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChuyenCan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChuyenCan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HOCVIEN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HOCVIEN.DiaChi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LOPHOC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LOPHOC.TenLop)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaKetQua" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
