@model IEnumerable<QuanLyTTNgoaiNgu.Models.HOCPHI>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NgayNop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrangThai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PHIEUDANGKY)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NgayNop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrangThai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PHIEUDANGKY.MaDangKy)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaHocPhi">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaHocPhi">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaHocPhi">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
