@model IEnumerable<QuanLyTTNgoaiNgu.Models.LOPHOC>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenLop)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LichHoc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GIANGVIEN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KHOAHOC)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenLop)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LichHoc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GIANGVIEN.ChuyenMon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KHOAHOC.MoTa)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MaLopHoc">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MaLopHoc">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MaLopHoc">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
